gensim==4.4.0
google_play_scraper==1.2.7
hmmlearn==0.3.3
joblib==1.5.3
keras==3.13.2
matplotlib==3.10.9
nltk==3.9.1
numpy==2.4.6
pandas==3.0.3
protobuf==7.35.0
qrcode==8.2
Requests==2.34.2
Sastrawi==1.0.1
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
statsmodels==0.14.6
tensorflow==2.20.0
tensorflow_datasets==4.9.10
wordcloud==1.9.6
xgboost==3.2.0
yt_dlp==2026.3.17
